@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  background-color: #1a1a1a;
  text-align: center;
  color: #ffffff; /* texto em branco */
} 

.whatsapp, .linkedin, .email, .github {
  padding-top: 20px;
  text-align: center;
  flex: 1 1 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.whatsapp {
  background-color: #333333; /* fundo escuro */
}

.linkedin {
  background-color: #1a1a1a; /* fundo mais escuro */
}

.email {
  background-color: #333333; /* fundo escuro */
}

.github {
  background-color: #1a1a1a; /* fundo mais escuro */
}

a {
  font-size: 20px;
  color: #ffffff; /* texto em branco */
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5); /* sombra do texto em branco */
  text-decoration: none;
}

.whatsapp img, .linkedin img, .email img, .github img {
  width: 20px;
  height: 20px;
  margin-left: 5px;
}
