/* Reset de Margens e Preenchimentos */
body, h1, p, ul {
    margin: 0;
    padding: 0;
}

/* Estilo para o Body */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #000;
    color: #fff;
    padding: 20px;
}

/* Estilo para o Header */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    margin-bottom: 10px;
    font-size: 2em;
}

header p {
    font-size: 1.2em;
}

/* Estilo para a Lista de Projetos */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    background-color: #333;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

li a:hover {
    color: #ddd;
}

/* Estilo para Links Externos (target="_blank") */
li a[target="_blank"]::after {
    content: " \f08e"; /* Unicode para o ícone de novo guia */
    font-family: 'Material Symbols Outlined';
    margin-left: 5px;
}
